html,
body {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5;
}

.selected {
  background-color: #d5d2d2; /* Change to the desired shade of gray */
}

.selected:active {
  background-color: #d0d0d0; /* Change to the desired shade of gray */
}
