@use '@angular/material' as mat;

@include mat.core();

$angular-default-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$teal-palette),
      accent: mat.define-palette(mat.$blue-grey-palette),
      warn: mat.define-palette(mat.$red-palette),
    )
  )
);

@include mat.all-component-themes($angular-default-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-balham.css';
